@model Tactsoft.Core.Entities.Organization
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Update Orgainzation Information</h3>
                </div>
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <label asp-for="OrganizationName" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="OrganizationName" class="form-control" />
                                        <span asp-validation-for="OrganizationName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="Address" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="Phone" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="Email" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="Email" type="email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <label asp-for="Establishment" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="Establishment" class="form-control" />
                                        <span asp-validation-for="Establishment" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="Description" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <textarea rows="4" asp-for="Description" class="form-control"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="ContactPerson" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="ContactPerson" class="form-control" />
                                        <span asp-validation-for="ContactPerson" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <label asp-for="CountryId" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId">
                                            <option value="">Select Country</option>
                                        </select>
                                        <span asp-validation-for="CountryId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="StateId" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <select asp-for="StateId" asp-items="@(ViewBag.StateId)" class="form-control">
                                            <option value="">Select State</option>
                                        </select>
                                        <span asp-validation-for="StateId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="CityId" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <select asp-for="CityId" asp-items="@(ViewBag.CityId)" class="form-control">
                                            <option value="">Select City</option>
                                        </select>
                                        <span asp-validation-for="CityId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Logo" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input type="file" asp-for="Logo" class="form-control" name="pictureFile" accept="image/*" id="FileUpload" onchange="PreviewImage()" />
                                        <span asp-validation-for="Logo" class="text-danger"></span>
                                    </div>
                                    <div class="mt-3" style="text-align:end">
                                        <img src="~/images/orgainzation/@Model.Logo" alt="img" id="UploadFile" class="img-thumbnail" style="width:170px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div style="text-align:end">
                            <a class="btn btn-outline-danger btn-sm" asp-action="Index">
                                <i class="far fa-window-close"></i> Cancel
                            </a>
                            <button type="submit" value="Create" class="btn btn-outline-primary btn-sm">
                                <i class="fa-solid fa-rotate"></i> Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }